<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Let's eat some tasty burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>

<body>

  <div class="container">

    <div class="jumbotron">

      <h1><i class="fa fa-cutlery"></i> Burger Shop</h1>
      <hr>
      <h2>Welcome to the Burger Shop</h2>
      <h2>Choose from our menu or add something new</h2>
      <br>

    </div>

	{{{ body }}}
	
  </div>

</body>

</html>